body{
    background-color:rgb(47,60,89);
    text-align: center;
}

#time {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-size: 80px;
    color: #cdcdcd;
}
  

#date {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-size: 40px;
    color: #cdcdcd;
}